force-app/main/default/flows/Quick_Order_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>How would the customer like to pay?</description>
        <name>Payment_Method</name>
        <label>Payment Method</label>
        <locationX>804</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_and_Billing_Information</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Card_Information</targetReference>
            </connector>
            <label>Card</label>
        </rules>
    </decisions>
    <description>A quick way for users to create an order for a Music Product.</description>
    <dynamicChoiceSets>
        <name>CashCardPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Music_Product_Order__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Credit_Card_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Card_Type__c</picklistField>
        <picklistObject>Music_Product_Order__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>How did the customer purchase the product?</description>
        <name>PurchaseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_Type__c</picklistField>
        <picklistObject>Music_Product_Order__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quick Order Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Order Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Music_Product_Order_Record</name>
        <label>Creating Music Product Order Record</label>
        <locationX>1027</locationX>
        <locationY>513</locationY>
        <inputAssignments>
            <field>Billing_Address_Country__c</field>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_State__c</field>
            <value>
                <elementReference>Billing_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address_Zipcode__c</field>
            <value>
                <elementReference>Billing_Zipcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street_Address__c</field>
            <value>
                <elementReference>Billing_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Number__c</field>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Type__c</field>
            <value>
                <elementReference>Credit_Card_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_First_Name__c</field>
            <value>
                <elementReference>Customer_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_s_Last_Name__c</field>
            <value>
                <elementReference>Customer_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Music_Product_Purchased_1__c</field>
            <value>
                <elementReference>Product_Purchased_1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Music_Product_Purchased_2__c</field>
            <value>
                <elementReference>Product_Purchased_2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Music_Product_Purchased_3__c</field>
            <value>
                <elementReference>Product_Purchased_3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Music_Products_1_ordered__c</field>
            <value>
                <elementReference>Number_of_Product_1_Purchased</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Music_Products_2_ordered__c</field>
            <value>
                <elementReference>Number_of_Product_2_Purchased</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Music_Products_3_ordered__c</field>
            <value>
                <elementReference>Number_of_Product_3_Purchased</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Late_Date__c</field>
            <value>
                <elementReference>Late_Order_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Start_Date__c</field>
            <value>
                <elementReference>Start_Order_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>CashCardPick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Type__c</field>
            <value>
                <elementReference>PurchaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Country__c</field>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_State__c</field>
            <value>
                <elementReference>Shipping_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Zipcode__c</field>
            <value>
                <elementReference>Shipping_Zipcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street_Address__c</field>
            <value>
                <elementReference>Shipping_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Music_Product_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Credit_Card_Information</name>
        <label>Credit Card Information</label>
        <locationX>399</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Shipping_and_Billing_Information</targetReference>
        </connector>
        <fields>
            <name>Credit_Card</name>
            <choiceReferences>Credit_Card_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Card_Number</name>
            <dataType>Number</dataType>
            <fieldText>Credit Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Name</name>
        <label>Customer Name</label>
        <locationX>649</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Instruments_Purchased</targetReference>
        </connector>
        <fields>
            <name>Customer_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>How the customer is purchasing the product.</description>
        <name>Customer_Purchase_Method</name>
        <label>Customer Purchase Method</label>
        <locationX>528</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Name</targetReference>
        </connector>
        <fields>
            <name>Purchase_Type</name>
            <choiceReferences>PurchaseType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchase Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Instruments_Purchased</name>
        <label>Instruments Purchased</label>
        <locationX>799</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Method_Screen</targetReference>
        </connector>
        <fields>
            <name>Product_Purchased_1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Music_Product_Purchased_1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Music Product 1 </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Music_Product_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Number_of_Product_1_Purchased</name>
            <dataType>Number</dataType>
            <fieldText>Number of Product 1 Purchased</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Product_Purchased_2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Music_Product_Purchased_2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Music Product 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Music_Product_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Number_of_Product_2_Purchased</name>
            <dataType>Number</dataType>
            <fieldText>Number of Product 2 Purchased</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Product_Purchased_3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Music_Product_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Music_Product_Purchased_3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Music Product 3</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Number_of_Product_3_Purchased</name>
            <dataType>Number</dataType>
            <fieldText>Number of Product 3 Purchased</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Date_Screen</name>
        <label>Order Date Screen</label>
        <locationX>839</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creating_Music_Product_Order_Record</targetReference>
        </connector>
        <fields>
            <name>Start_Order_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Late_Order_Date</name>
            <dataType>Date</dataType>
            <fieldText>Late Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Method_Screen</name>
        <label>Payment Method Screen</label>
        <locationX>1049</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Method</targetReference>
        </connector>
        <fields>
            <name>Payment_Method_Picklist</name>
            <choiceReferences>CashCardPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shipping_and_Billing_Information</name>
        <label>Shipping and Billing Information</label>
        <locationX>667</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Date_Screen</targetReference>
        </connector>
        <fields>
            <name>Shipping_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Shipping Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Country</name>
            <dataType>String</dataType>
            <fieldText>Shipping Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Zipcode</name>
            <dataType>String</dataType>
            <fieldText>Shipping Zipcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_State_Province</name>
            <dataType>String</dataType>
            <fieldText>Shipping State Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Billing_the_Same_as_Shipping</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Billing the Same as Shipping</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Billing Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Billing_the_Same_as_Shipping</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billing_Country</name>
            <dataType>String</dataType>
            <fieldText>Billing Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Zipcode</name>
            <dataType>String</dataType>
            <fieldText>Billing Zipcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_State_Province</name>
            <dataType>String</dataType>
            <fieldText>Billing State Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Customer_Purchase_Method</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The Music Product being Purchased</description>
        <name>MusicProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Music_Product__c</objectType>
    </variables>
    <variables>
        <name>MusicProductOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Music_Product_Order__ChangeEvent</objectType>
    </variables>
</Flow>
